@import url("../assets/fonts/PressStart2P.css");

BODY {
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	font: 1em "PressStart2P";
}
CANVAS {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
INPUT {
	background: transparent;
	color: white;
	text-align: right;	
	outline: 1px solid white;			
	font-family: inherit;
}
INPUT[readonly] {
	text-align: center;				
	border: none;
	outline: none;
}
SELECT {
	background: transparent;
	color: white;
	font-family: inherit;
}
OPTION {
	color: black;
}
#ui {
	visibility: hidden;
	position: fixed;
	left:0;
	right:0;
	height: 200px;
	display: grid;
	grid-template: 	"header" auto
					"content" 1fr;
	color: #ffff07;
	background-color: #000000a8;
	padding: 0px 30px;
}
.header {
	grid-area: header;
}
.content {
	grid-area: content;
}
#ui.top {
	visibility: visible;
	top:0;
}
#ui.bottom {
	visibility: visible;
	bottom:0;
}
#ui.transparent {
	background-color: transparent;
}
#log-window {
	color: black;
    font-size: 1.5vh;
    font-family: monospace;
    position: fixed;
    bottom: 4px;
    left: 4px;
    right: 4px;
    height: 25vh;
    background: #ffffffba;
	visibility: hidden;
}
#log-window #log {
	padding: 5px;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#log-window #close {
    position: absolute;
    right: 23px;
    top: 4px;
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 12px;
    z-index: 1;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}
.err {
	color:red;
}
.sep {
	background-color: white;
	width: 2px;
}

.btn {
	cursor: pointer;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}
.btn:hover {
	background-color: rgba(0, 0, 0, 50%);
}
DIV.btn {
	display: grid;
	align-content: center;
	justify-content: center;				
	padding: 10px;
	margin: 2px;
	min-width: 70px;
}
.btn-blue {
	background: #2668a0;
}
.btn-white {
	background: white;
	color: black;
}
.btn-small {
	padding: 5px;
}
/* .white-shadow {
	box-shadow: 1px 1px 1px white, 0px 0px 2px white;				
} */
.light-shadow {
	filter: drop-shadow(2px 4px 2px #666666);
}			
.black-shadow {
	box-shadow: 1px 1px 1px black, 0px 0px 2px black;				
}
.hvcenter {
	align-self: center;
	justify-self: center;
}
.vcenter {
	align-self: center;
	align-items: center;
}
.hright {
	justify-self: right;
}
.hcenter {
	justify-self: center;
}
.grid-column {
	display: grid;
	grid-auto-flow: column;
}
.grid-row {
	display: grid;
	grid-auto-flow: row;
	justify-items: center;
    gap: 5px;
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #00000094;
	display: grid;
	align-content: center;
	justify-content: center;				
}
.alert {
	display: grid;
	width: 500px;
	height: 100px;
	background-color: #ffffff;
	border: 2px solid #060606;
	box-shadow: 5px 4px 5px 2px black;
	top: 131px;
	padding: 20px;		
	font-size: 14px;
	font-weight: bold;
}
.alert INPUT {
	color: black;
}
.choose {
	height: 50vh;
	grid-gap: 10px;
	grid-template-rows: 1fr auto;
}
.list {
	border: 1px solid #d0cdcd;
	font-weight: normal;
	overflow-y: scroll;
}
.list-item {
	padding: 5px;
	cursor: pointer;
}
.selected {
	background: #8ed0ff;
}
.gamepaused {
	color: white;
	font-size: 52px;
	background: #00000070;
	padding: 40px 30px;
	border: 1px solid white;
	border-radius: 10px;
}
DIV.btn.icn {
	padding: 0;
	min-width: auto;
}

.icn-left-arrow {
	background: url(/assets/images/left-arrow.png);
    width: 50px;
	aspect-ratio: 1;
}
.icn-up-arrow {
	background: url(/assets/images/left-arrow.png);
    width: 50px;
	aspect-ratio: 1;
	rotate: 90deg;
}
.icn-down-arrow {
	background: url(/assets/images/left-arrow.png);
    width: 50px;
	aspect-ratio: 1;
	rotate: -90deg;
}
.icn-trash {
	background: url(/assets/images/trash.png);
    width: 50px;
	aspect-ratio: 1;
}
.icn-load {
	background: url(/assets/images/load.png);
    width: 50px;
	aspect-ratio: 1;
}
.icn-save {
	background: url(/assets/images/save.png);
    width: 50px;
	aspect-ratio: 1;
}
.icn-down-play {
	background: url(/assets/images/play.svg);
    width: 50px;
	aspect-ratio: 1;
}

svg path{
	fill: currentcolor;
}

/* should be at the end */
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w75 { width: 50px; }
.w150 {	width: 150px; }

.z50 {	zoom: .5; }
.z100 {	zoom: 1; }
.z200 {	zoom: 2; }
